<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>19/10/06 10:52:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutPageTest.purchaseProductTest()[pri:1, instance:com.elabelz.testcases.CheckoutPageTest@77caeb3e]">purchaseProductTest</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/10/06 10:51:46</td>   <td>-16734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckoutPageTest.setUp()[pri:0, instance:com.elabelz.testcases.CheckoutPageTest@77caeb3e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/10/06 10:52:22</td>   <td>19528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckoutPageTest.tearDown()[pri:0, instance:com.elabelz.testcases.CheckoutPageTest@77caeb3e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
