<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>elabelz - Project  Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>19/10/06 11:33:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.createAccountTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.elabelz.testcases.RegistrationPageTest@604ed9f0]">createAccountTest</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/10/06 11:32:51</td>   <td>-13637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest()[pri:1, instance:com.elabelz.testcases.LoginPageTest@91161c7]">loginPageTest</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/10/06 11:32:35</td>   <td>-30105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.loginTest()[pri:1, instance:com.elabelz.testcases.HomePageTest@5c3bd550]">loginTest</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/10/06 11:33:51</td>   <td>46342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutPageTest.purchaseProductTest()[pri:1, instance:com.elabelz.testcases.CheckoutPageTest@6a4f787b]">purchaseProductTest</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/10/06 11:32:22</td>   <td>-43114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.elabelz.testcases.HomePageTest@5c3bd550]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/10/06 11:32:38</td>   <td>-27038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.elabelz.testcases.LoginPageTest@91161c7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/10/06 11:32:54</td>   <td>-11045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTest.setUp()[pri:0, instance:com.elabelz.testcases.RegistrationPageTest@604ed9f0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/10/06 11:33:35</td>   <td>30199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckoutPageTest.setUp()[pri:0, instance:com.elabelz.testcases.CheckoutPageTest@6a4f787b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/10/06 11:32:38</td>   <td>-27143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.elabelz.testcases.HomePageTest@5c3bd550]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/10/06 11:32:54</td>   <td>-11293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.elabelz.testcases.LoginPageTest@91161c7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/10/06 11:33:35</td>   <td>30090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationPageTest.tearDown()[pri:0, instance:com.elabelz.testcases.RegistrationPageTest@604ed9f0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/10/06 11:34:12</td>   <td>67565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckoutPageTest.tearDown()[pri:0, instance:com.elabelz.testcases.CheckoutPageTest@6a4f787b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
</table>
